<html lang="en" ng-app="myMarketplaceApp">
    <head>
        <meta charset="utf-8">
        <title>Gupta Marketplace</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src = app.js></script>
        <script type="text/javascript">
        angular.module("sample", []);
        </script>
    </head>
    <header ng-include src="'header.html'"></header>
    <div class="content">
        <div ng-controller="MarketController">
            <button ng-click = "order = 'name'">Order by Name</button>
            <button ng-click = "order = 'belt'">Order by Price</button>
            <input type="text" ng-model="search" placeholder="Search for Items"/>
            <p>{{message}}</p>
            <ul>
            
                <li ng-repeat="item in detailedItems | orderBy: order | filter: search" ng-show="item.available">
                   <img src="{{item.thumb}}" style="margin -12px 10px 0 0; float: left; width: 50px">
                    <h3>{{item.name}} - {{item.rate}}</h3>
                   <div class="remove" ng-click="removeItem(item)">X</div>
                   <span style="background: {{item.belt}}" >{{item.belt}} </span> 
                </li>
            </ul>    
        </div>
    </div>
</html> 